<div>
  <h1>Regisztráció</h1>
  <form [formGroup]="registerForm">
    <input formControlName="lastname" type="text" placeholder="Vezetéknév"/> <br/><br/>
    <input formControlName="firstname" type="text" placeholder="Keresztnév"/> <br/><br/>
    <input formControlName="email" type="email" placeholder="E-mail cím"/> <br/><br/>
    <input formControlName="password" type="password" placeholder="Jelszó"/> <br/><br/>
    <input formControlName="passwordconfirm" type="password" placeholder="Jelszó megerősítése"/> <br/><br/>
    <input formControlName="phonenumber" type="tel" placeholder="Telefonszám"/> <br/><br/>
    <label for="phone_type_selector">Telefon típus: </label>
    <select formControlName="phonetype" id="phone_type_selector" [(ngModel)]="chosenPhoneType">
      <option *ngFor="let phoneType of phoneTypeList" [ngValue]="phoneType">{{ phoneType }}</option>
    </select> <br/><br/>
    <input formControlName="address" type="text" placeholder="Cím"/> <br/><br/>
    <button (click)="register()">Regisztráció</button> <br/><br/>
    <button (click)="goBack()">Vissza</button>
  </form>
</div>

