<div class="main_component">
  <h1>Üdvözöljük!</h1>
  <button mat-raised-button color="primary" (click)="toAppointmentBook()"><strong>Időpontfoglalás</strong></button> <br/><br/>
  <button mat-raised-button color="primary" (click)="toMyAppointments()"><strong>Időpontjaim</strong></button> <br/><br/>
  <button mat-raised-button color="primary" (click)="toContacts()"><strong>Elérhetőségek</strong></button> <br/><br/>
  <button mat-raised-button color="primary" (click)="logout()">Kijelentkezés</button>
</div>
