div {
  height: 100%;
  text-align: center;
  justify-content: center;
}

.main_component {
  height: 100vh;
  align-items: center;
}

h1 {
  margin: 100px;
}

table, th, td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

td > button {
  margin: 5px;
}

.table-header-even {
  background-color: deeppink;
}

.table-header-odd {
  background-color: mediumblue;
}
