<div class="main_component">
  <h1>Időpontjaim</h1>
  <h1 *ngIf="appointmentNumber === 0">Önnek nincs időpontja!</h1>
  <table *ngIf="appointmentNumber">
    <tr>
      <th>Eszköz</th>
      <th>Dátum</th>
      <th>Leírás</th>
      <th>Szerkesztés</th>
    </tr>
    <tr *ngFor="let appointment of appointments; let i = index;" [ngClass]="i % 2 === 0 ? 'table-header-even' :
    'table-header-odd'">
      <td>{{appointment.device}}</td>
      <td>{{appointment.date}}</td>
      <td class="td_desc">{{appointment.description}}</td>
      <td><button mat-raised-button color="primary" (click)="toUrgent(appointment)">Sürgőssé jelölés</button>
        <button mat-raised-button color="primary" (click)="delete(appointment)">Törlés</button></td>
    </tr>
  </table>
  <br/><br/>
  <button mat-raised-button color="primary" (click)="backToHome()">Vissza</button>
</div>
