<div>
  <h1>Időpontfoglalás</h1>
  <form [formGroup]="appointmentForm">
    <mat-form-field>
      <mat-label>Megvizsgálni kívánt eszköz: </mat-label>
      <mat-select formControlName="device" id="device_selector" [(ngModel)]="chosenDevice">
        <mat-option *ngFor="let device of deviceList" [value]="device">{{ device }}</mat-option>
      </mat-select>
    </mat-form-field> <br/><br/>

    <mat-form-field>
      <mat-label>Válasszon időpontot!</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker1" required>
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker1></mat-datepicker>

      <input matInput formControlName="time" [ngxMatTimepicker]="picker2" [format]="24" required>
      <ngx-mat-timepicker-toggle matIconSuffix [for]="picker2"></ngx-mat-timepicker-toggle>
      <ngx-mat-timepicker #picker2></ngx-mat-timepicker>

    </mat-form-field> <br/><br/>

    <mat-form-field>
      <mat-label>Leírás</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10" formControlName="description"
                placeholder="Probléma leírása, egyéb eszköz esetén az eszközt is tűntesse fel itt!" required></textarea>
    </mat-form-field> <br/><br/>

    <button mat-raised-button color="primary" (click)="bookAppointment()">Időpontfoglalás</button> <br/><br/>
    <button mat-raised-button color="primary" (click)="backToHome()">Vissza</button>
  </form>
</div>
