<div>
  <h1>Időpontfoglalás</h1>
  <form [formGroup]="appointmentForm">
    <label for="device_selector">Megvizsgálni kívánt eszköz: </label>
    <select formControlName="device" id="device_selector" [(ngModel)]="chosenDevice">
      <option *ngFor="let device of deviceList" [ngValue]="device">{{ device }}</option>
    </select> <br/><br/>
    <label for="datetime">Válasszon időpontot!</label>
    <input formControlName="date" type="datetime-local" id="datetime" required> <br/><br/>
    <textarea formControlName="description" rows="5" cols="75" maxlength="200"
              placeholder="Probléma leírása, egyéb eszköz esetén az eszközt is tűntesse fel itt!" required></textarea> <br/><br/>
    <button (click)="bookAppointment()">Időpontfoglalás</button>
  </form>
</div>
