<div>
  <h1>Időpontfoglalás</h1>
  <form [formGroup]="appointmentForm">
    <mat-form-field>
      <mat-label>Megvizsgálni kívánt eszköz: </mat-label>
      <mat-select formControlName="device" id="device_selector" [(ngModel)]="chosenDevice">
        <mat-option *ngFor="let device of deviceList" [value]="device">{{ device }}</mat-option>
      </mat-select>
    </mat-form-field> <br/><br/>

    <mat-form-field>
      <mat-label>Válasszon időpontot!</mat-label>
      <input matInput formControlName="date" placeholder="HH/NN/ÉÉÉÉ" [matDatepicker]="picker" required>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> <br/><br/>

    <mat-form-field>
      <mat-label>Leírás</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="10" formControlName="description"
                placeholder="Probléma leírása, egyéb eszköz esetén az eszközt is tűntesse fel itt!" required></textarea>
    </mat-form-field> <br/><br/>

    <button mat-raised-button color="primary" (click)="bookAppointment()">Időpontfoglalás</button> <br/><br/>
    <button mat-raised-button color="primary" (click)="backToHome()">Vissza</button>
  </form>
</div>
